<div class="container">

    <div class="row">
  
      <div class="col-lg-3">
  
        <h1 class="my-4">Catagories</h1>
        <div class="list-group">
          <a class="list-group-item" routerLink="/home">Fruits</a>
          <a href="#" class="list-group-item" routerLink= "/vegetables">Vegetables</a>
          <a href="#" class="list-group-item">Electronics</a>
        </div>
  
      </div>
  
       <div class="col-lg-9">
  
       <p>Vegetables</p> 
  
        <div class="row">
  
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="https://i1.pickpik.com/photos/613/1020/887/clock-wrist-watch-time-golden-background-preview.jpg" alt=""  height="170" width="170">
              <div class="card-body">
                <h4 class="card-title">
                  <h4 style="color: blue;">Watch</h4>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">Rolex watch</p>
                <button type="button" class="btn btn-primary">Add</button>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>
  
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="https://p0.pxfuel.com/preview/536/1000/918/iphone-phone-mobile-internet.jpg" alt="" height="170" width="170">
              <div class="card-body">
                <h4 class="card-title">
                  <h4 style="color: blue;">Mobile</h4>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">I Phone. </p>
                <button type="button" class="btn btn-primary">Add</button>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>
  
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/c/ce/--Berkas-_Headset_Over_Ear_HiVi_audio.jpg--.jpg" alt=""  height="170" width="170"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Head set</a>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">It consits of a fruit combo</p>
                <button type="button" class="btn btn-primary">Add</button>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>
  
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/a005-scottw-733.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=2986c55325a01396961db8b9ae573a9e" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Laptop</a>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">The tasty Kashmir stawberry. Delicious with sweet taste.</p>
                <button type="button" class="btn btn-primary">Add</button>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>
  
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTfjA9eI2Yj9l1HXC8-zOTOwbxYiHCsHXl6XA&usqp=CAU" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Mouse</a>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">A tasty Grapes from hill station</p>
                <button type="button" class="btn btn-primary">Add</button>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>
  
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="https://c0.wallpaperflare.com/preview/414/688/879/laptop-keyboard-hp-keyboard-lights.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">KeyBoard</a>
                </h4>
                <h5>$24.99</h5>
                <p class="card-text">Fruit combo. Value for money</p>
                <button type="button" class="btn btn-primary">Add</button>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>
  
        </div>
        <!-- /.row -->
  
      </div>
      <!-- /.col-lg-9 -->
  
    </div>
    <!-- /.row -->
  
  </div>
  <!-- /.container -->
  
  <!-- Footer -->
  <footer class="py-2 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; My shopping 2020</p>
    </div>
    <!-- /.container -->
  </footer>
  